snippet idat "Current date: yyyy-mm-dddd, ISO 8601" w
`date +%Y-%m-%d`$0
endsnippet

snippet ddat "Current date: dd Mmm yyyy" w
`date +%d\ %b\ %Y`$0
endsnippet

snippet ldat "Long date: Month dd, yyyy" w
`date +%B\ %d\,\ %Y`$0
endsnippet

snippet :smile: "😄"
😄$0
endsnippet

snippet :joy: "😂"
😂$0
endsnippet

snippet :sweat_smile: "😅"
😅$0
endsnippet

snippet :+1: "👍"
👍$0
endsnippet

snippet :imp: "👿"
👿$0
endsnippet

snippet :smiling_imp: "😈"
😈$0
endsnippet

snippet :kissing_heart: "😘"
😘$0
endsnippet

snippet :scream: "😱"
😱$0
endsnippet

snippet :wink: "😉"
😉$0
endsnippet

snippet :sweat: "😓"
😓$0
endsnippet

snippet :innocent: "😇"
😇$0
endsnippet

