snippet idat "Current date: yyyy-mm-dddd, ISO 8601" w
`date +%Y-%m-%d` $0
endsnippet

snippet ddat "Current date: dd Mmm yyyy" w
`date +%d\ %b\ %Y` $0
endsnippet

snippet ldat "Long date: Month dd, yyyy" w
`date +%B\ %d\,\ %Y` $0
endsnippet

